* {
    /*样式初始化*/
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

div {
    width: 640px;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px auto;
    /*左右居中*/
}

h3 {
    font-weight: normal;
    text-align: center;
    margin: 10px 0 20px;
    /*上边距为10px，左右为0，下边距为20px*/
}

p {
    font-size: 14.7px;
    text-indent: 2em;
    margin: 1.5em 0;
    /*上下边距为1.5个字符距离，左右为0*/
    line-height: 1.5em;
}

#x {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    text-indent: 0;
    color: #005fbd;
    font-size: 12px;
}

#summary {
    color: #ff0000;
}

ul {
    list-style-type: none;
    /* 取消列表前的点 */
    text-indent: 2em;
    font-size: 12px;
    line-height: 2;
}