/* 导入字体图标 */
@import url(../symbols/font.css);
/*导入全局样式*/
@import url(global.css);

body {
    background-image: url(../images/nekopara.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container {
    padding: 10vh 25vw;
    height: auto;
}

@media (width <= 56.25em) {
    .container {
        padding: 0 0;
    }
}

/* main样式 */
main {
    border-radius: 3rem;
    padding: 5vh 0;
    background-image: linear-gradient(#222330ed, #222330ed);
    @media (width <=56.25em) {
        border-radius: 0;
    }
}