.link-exchange {
    color: white;
    font: normal 1.5rem bolder;
    margin-left: 0.6rem;
}

.link-list {
    display: flex;
}

.link-list a {
    padding: 0.6rem;
    color: white;
    font: normal 1rem bold;
}
