/* 统一顶栏样式 */
header {
    width: 100%;
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 8rem;
    width: 100%;
    background-color: #171d25;
    color: white;
    padding-right: 10rem;
    font-size: 1.8rem;
    line-height: 1.8;
    & > ul {
        display: flex;
        gap: 6rem;

        & > li > a {
            transition: color 0.3s;

            &:link,
            &:visited {
                color: white;
                padding: 1rem;
            }

            &.active {
                color: var(--pink2);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--pink2);
                }
            }

            &:hover{
                color: var(--blue);

                &::after {
                    background-color: var(--blue);
                }
            }
        }
    }
}

.header-change {
    display: none;
    background-color: transparent;
    z-index: 1001;
}

@media screen and (max-width: 56.25em) {
    header {
        position: relative;
    }

    .header {
        display: none;
    }

    .header-change {
        display: block;
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        color: white;
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
        border-radius: 100px;
        background-color: var(--card);
    }

    main {
        margin: 0;
        border-radius: 0;
    }
}

.link-exchange {
    color: white;
    font: normal 1.5rem bolder;
    margin-left: 0.6rem;
}

.link-list {
    display: flex;
}

.link-list a {
    padding: 0.6rem;
    color: white;
    font: normal 1rem bold;
}
