:root {
  --blue: #b3eaff;
  --pink: #ffd9e6;
  --pink2: #f8e2f0;
  --bg: #1b2838;
  --header: #171d25;
  --card: #141520ed;
  --link-blue: #4dacff;
  --link-hover: #66b8ff;
}

/* 外部字体 */
.symbols {
  font-family: "Material Symbols Outlined";
  font-size: 2.4rem;
  color: white;
  font-size: xx-large;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  color-scheme: dark;
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Noto-Sans", "Roboto", "Montserrat", sans-serif;
  background-color: var(--bg);
  line-height: 1;
  font-weight: 400;
  position: relative;
  font-size: 1.8rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
}

.container {
  height: 100%;
  width: 100%;
}

.img {
  vertical-align: middle;
}

input {
  background-color: transparent;
  outline: none;
}