/* 导入字体图标 */
@import url(../symbols/outlined/index.css);
@import url(../symbols/symbols.css);
/*导入全局样式*/
@import url(global.css);

html,
body {
  height: 100%;
  width: 100%;
}

/* header目录 */
@keyframes fade-in-up {
  from {
    transform: translateY(48px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

header {
  animation: fade-in-up 1s ease;
}

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vmin;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  color: white;
  padding-right: 10vw;

  & ul {
    display: flex;
    flex-direction: row;

    & :not(:first-child) a:hover {
      color: var(--blue);
    }
    
    & :first-child a {
      color: var(--pink);
    }
    
    & li {
      margin-right: 5vmin;
      
      & a {
        color: white;
        padding: 1vmin;
      }
    }
  }
}

.header-change {
  display: none;
  position: sticky;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.symbols {
  color: white;
  font-size: large;
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
}

/* main样式 */
main {
  height: 100%;
  display: flex;
  background-image: linear-gradient(#00000088, #00000088), url(../images/Elysia2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1080px) {
  main {
    background-position: center;
  }
}

.main-content {
  animation: fade-in-up 1s ease;
  & h1 {
    color: #fff0f6;
    font-size: 2.825rem;
    text-transform: capitalize;
    font-style: normal;
    margin-bottom: 10px;
  }
  
  & p {
    color: #ffdeeb;
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
  

}
/* 服务器列表 */
.server {
  float: right;
  width: 230px;
  height: 365px;
  background-color: #c0ffc9;
  margin-top: 20px;

  & h3 {
    line-height: 48px;
    background-color: #fff6a6;
    text-align: center;
  }
}