@import url(global.css);
@import url(common.css);

.container {
    margin: 2% auto;
    width: 30%;
}

@media (max-width:900px) {
    .container {
        margin-top: 20%;
        width: 100%;
    }
}

.container>ul {
    display: flex;
    flex-direction: column;
}

.container>ul>li>a {
    display: block;
    height: 2rem;
    line-height: 2rem;
}

.container>ul>li>p {
    display: block;
    height: 4rem;
    line-height: 4rem;
    color: #f0b3da;
}

.container>ul>li:nth-child(2n + 1) * {
    background-color: #111923;
}

.container>h1 {
    color: #fff;
    font-size: xx-large;
    margin-bottom: 3rem;
}

a {
    color: #bbbfcd;
}